body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

html, body {
    height: 100%;
}

header, footer {
    background-color: #001D64;
    color: #EBC331;
    text-align: center;
    padding: 5px;
}

footer p{
    margin: 0;
}

footer:hover{
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
}

iframe {
    flex: 1;
    border: none;
}

header{
    padding-bottom: 0;
    text-align: left;
}

