<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Title New Page</title>
    <script src="../templates/app.js"></script> <!-- Modifier le lien en fonction du path de votre fichier -->
    <!--<link rel="stylesheet" href="../css/newPage.css">--> <!-- Fichier CSS pour votre page-->
    <!--<script src="../js/newPage.js"></script>--> <!-- Fichier JS pour votre page-->
</head>
<body>
<header></header>

<div id="content">
    <!-- contenu de votre page -->

    <!-- Exemple : -->
    <h1>Ma page</h1>
    <p>Une page blanche (ou bleu)</p>
    <div class="result" id="result">Please enter your name below 👇</div>
    <div class="input-box" id="input">
        <input class="input" id="name" type="text" autocomplete="off"/>
        <button class="btn" onclick="blancPageFunction()">Greet</button>
    </div>

</div>


<footer></footer>
</body>
</html>

<!--
    Ceci est une de page type prête à l'emploi.
    Elle utilise l'ensemble des éléments du dossier "templates" grâce à "import_template.js".
    Vous avez plus qu'a créé votre page dans la balise `div id="content">`.
    N'oubliez pas de créer un fichier CSS pour cette page et de l'importer.
    Même chose pour le fichier JS.

    Oubliez pas de supprimer tous les commentaires après avoir copier-coller de fichier
    Votre fichier HTML doit etre mit dans le dossier html pour que les templates fonctionnent
-->
