<!--
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    !!! NE PAS COPIER CETTE PAGE !!!
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

    Ceci est une page template.
    Seule les balises <head>, <header> et <footer> seront intégré aux pages.
    (Il ne sert donc a rien de mettre du code dans <div id="content">)
 -->
<!DOCTYPE html>
<html lang="fr">

<!-- head prit en compte
<script src="/wails/ipc.js"></script>
<script src="/wails/runtime.js"></script>
-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/app.css">
</head>
<body>

<!-- header prit en compte -->
<!-- Mettre en id d'un <button> le nom de la page -->
<header>
    <button id="extraction" class="onglet" onclick="change_onglet('../html/extraction.html')">Extraction</button>
    <button id="onglet_chronologie" class="onglet" onclick="change_onglet('../html/chronologie.html')">Chronologie</button>
    <button id="onglet_arborescence" class="onglet" onclick="change_onglet('../html/arborescence.html')">Arborescence</button>
    <button id="newPage" class="onglet" onclick="change_onglet('../templates/newPage.html')">newPage</button>
</header>

<div id="content">
    <!--
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    !!! NE PAS COPIER CETTE PAGE !!!
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

    Ceci est une page template.
    Seule les balises <head>, <header> et <footer> seront intégré aux pages.
    (Il ne sert donc a rien de mettre du code dans <div id="content">)
 -->
</div>

<!-- footer prit en compte -->
<footer>
    <p onclick="accueil()">
        Application de QUestionnement et d'Analyse des Relevés informatiques pour l'Identification des Vecteurs de Malveillance
    </p>
</footer>

</body>
</html>
<!--
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    !!! NE PAS COPIER CETTE PAGE !!!
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

    Ceci est une page template.
    Seule les balises <head>, <header> et <footer> seront intégré aux pages.
    (Il ne sert donc a rien de mettre du code dans <div id="content">)
 -->