
body {
    text-align: center;
    background-color: #002C9A;
    color: #f0e3ab;
    cursor: none;
}




#logo-aquarium {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin: 1%

}

