

body{
    font-family: Comic Sans MS;
    display: flex;
    flex-direction: column;
    overflow: overlay;
}

.bouton_clair, .bouton_sombre{
    font-family: Comic Sans MS;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.bouton_clair{
    background-color: #F1D46B;
}

.bouton_clair:hover{
    background-color: #EBC331;
    cursor: pointer;
}

.bouton_sombre{
    background-color: #002C9A;
    color: #FCF5DC;
}

.bouton_sombre:hover{
    cursor: pointer;
    background-color: #001D64;
    color: #F6E4A4;
}

.input_clair{
    background-color: #F6E4A4;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: Comic Sans MS;
}

button.onglet{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-family: Comic Sans MS;
    background-color: #856B0D;
    color: #FCF5DC;
    padding: 10px;
    border: none;
}

button.onglet:hover{
    cursor: pointer;
    background-color: #CAA314;
}

